<ul class="blogPostDivContainer">
  {{#each items}}
    <div class="blogPostDiv">
      <span class='completed'><a href="/api/v1/items/delete/{{this.blogid}}"><strong>x</strong></a></span>
      <h3 class="createdDate">Posted on: {{ this.created_at}}</h3>
      <h2 class="postTitle">{{this.title}}</h2>
      <h2>{{this.id}}</h2>
      <p class="postContent">{{this.content}}</p>
      <li class="postName"><strong>Written by: {{this.name}}</strong></li>
    </div>
    {{/each}}
</ul>


<h1 class="comments">Comments</h1>

<ul class="comments">
  {{#each both}}
  <div class="blogPostDiv">
  <span class='completed'><a href="/api/v1/comments/delete/{{this.blogid}}"><strong>x</strong></a></span>
  <h3 class="createdDate">Posted on: {{this.created_at}}</h3>
  <h2>{{this.subject}}</h2>
  <p class="postContent">{{this.comment}}</p>
</div>
  {{/each}}
</ul>

<div class="commentContainer">
  {{#each items}}
  <h2 class="comments">Add Comments</h2>
<!-- <p>@{{user.username}}!</p> -->
<section>
  <form class='add-comment' action='/article/{{this.blogid}}/addcomment' method='post'>
    <div>
      <input type='hidden' id='commentAndBlogId' name='blog_post_id' value='{{this.blogid}}'></input>
    </div>
    <div>
      <label for='comment-subject'>Subject:</label>
      <input type='text' name='subject' value=''></input>
    </div>
    <div>
      <label for='comment-comment'>Comment:</label>
      <textarea name='comment' rows='8' cols= '40'></textarea>
    </div>
    <div>
      <input type='submit' id='commentSubmit' value="Submit"></input>
    </div>
  </form>
</section>
{{/each}}
</div>
