<ul class="blogPostDivContainer">
  {{#each items}}
    <div class="blogPostDiv">
      <div class="change">
        <span class='deleteItem'><a href="/items/delete/{{this.blogid}}"><strong>x</strong></a></span>
        <span class='modifyPost'><a href="/items/modify/{{this.blogid}}"><strong>edit</strong></a></span>
      </div>
      <h3 class="createdDate">Posted on: {{shortDate  this.created_at}}</h3>
      <h2 class="postTitle">{{this.title}}</h2>
      <h2>{{this.id}}</h2>
      <p class="postContent">{{this.content}}</p>
      <li class="postName"><strong>Written by: {{this.name}}</strong></li>
    </div>
    {{/each}}
</ul>


<h1 class="Comments">Comments</h1>
<div class="commentPostDiv">
  <ul class="comments">
    {{#each data}}
    <div class="borderDiv">
      <div class="change">
        <span class='deleteItem'><a href="/data/delete/{{this.id}}"><strong>x</strong></a></span>
        <span class='modifyPost'><a href="/data/modify/{{this.blogid}}"><strong>edit</strong></a></span>
      </div>
      <p class="createdDate dateSmall">Posted on: {{shortDate this.created_at}}</p>
      <h2 class="commentSubject">{{this.subject}}</h2>
      <p class="postContent">{{this.comment}}</p>
      <li class="postName"><strong>Written by: {{this.name}}</strong></li>
    {{/each}}
    </div>
  </ul>
</div>

<h2 class="commentHead">Add Comments</h2><br>
<div class="commentContainer">
  {{#each items}}
  <div class="Comments">
<!-- <p>@{{user.username}}!</p> -->
<section>
  <form class='add-comment' action='/article/{{this.blogid}}/addcomment' method='post'>
    <div>
      <input type='hidden' id='commentAndBlogId' name='blog_post_id' value='{{this.blogid}}'></input>
    </div>
    <div>
      <label for='comment-subject'>subject:</label>
      <input type='text' name='subject' placeholder='subject' class="inputBox" value=''></input>
    </div>
    <div>
      <label for='comment-comment'>comment:</label>
      <textarea name='comment' placeholder='comment' class="inputBox"rows='10' cols= '80'></textarea>
    </div>
    <div>
      <input type='submit' id='commentSubmit' value="Submit"></input>
    </div>
  </form>
</section>
{{/each}}
</div>
</div>
