<ul class="blogPostDivContainer">
  {{#each items}}
    <div class="blogPostDiv">
      <!-- <div class="change"> -->
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="myDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Actions
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a color="black" href="/article/{{this.blogid}}/edit"><font color="black">Edit</font></a></li>
          <li role="separator" class="divider"><font color="black"></font></li>
          <li><a href="/items/delete/{{this.blogid}}"><font color="black">Delete</font></a></li>
        </ul>
        <p class="createdDate">Posted on: {{shortDate  this.created_at}}</p>
      </div>
      <h3 class="postTitle">{{this.title}}</h3>
      <p class="postContent">{{this.content}}</p>
      <li class="postName"><strong>Written by: {{this.name}}</strong></li>
    </div>
    {{/each}}
</ul>


<h1 class="Comments">Comments</h1>
<div class="commentPostDiv">
  <ul class="comments">
    {{#each data}}
    <div class="borderDiv">
      <div class="change">
        <span class='deleteItem'><a href="/data/delete/{{this.id}}" class="">&nbsp;x&nbsp;</a></span>
      </div>
      <!-- <p class="createdDate dateSmall">Posted on: {{shortDate this.created_at}}</p> -->
      <h3 class="commentSubject">{{this.subject}}</h3>
      <p class="postContent">{{this.comment}}</p>
      <li class="postName"> Written by: user {{this.name}} &nbsp;<time class="timeago" datetime=' {{alterDate this.created_at}}'>  {{this.created_at}} </time></li>
    {{/each}}
    </div>
  </ul>
</div>


<h1 class="createBlog">Add Comments</h1>

<div class="col-md-4 col-md-offset-2">
  <div class="container">
    {{#each items}}
    <div class="row">
      <div class="col-lg-9 offset-lg-1">
        <form class='add-comment' action='/article/{{this.blogid}}/addcomment' method='post'>

          <div class="form-group">
            <input type='hidden' id='commentAndBlogId' name='blog_post_id' value='{{this.blogid}}'></input>
          </div>

          <div class="form-group">
            <label for='comment-subject'>subject:</label>
            <input type='text' name='subject' placeholder='subject' class="inputBox form-control" value='' required></input>
          </div>

          <div class="form-group">
            <label for='comment-comment'>comment:</label>
            <textarea name='comment' placeholder='comment' class="inputBox form-control" rows='5' required></textarea>
          </div>

          <div class="col-md-4 col-md-offset-4 form-group">
            <button id='sub' id='commentSubmit' type="submit" class="btn btn-primary pull-xs-right btn-block">save</button>
          </div>
          {{/each}}
        </form>
      </div>
    </div>
  </div>
</div>
