<ul class="blogPostDivContainer">
  {{#each items}}
    <div class="blogPostDiv">
      <a href="/{{this.id}}">
      <div class="change">
        <span style='color:red' class='deleteItem'><a href="/items/delete/{{this.blogid}}"><strong>x</strong></a></span>
        <span class='modifyPost'><a href="/items/modify/{{this.blogid}}"><strong>edit</strong></a></span>
      </div>
      <h3 class="postTitle">{{this.title}}</h3>
      <p class="postContent">{{dotdotdot this.content}}</p>
      <li class="postName"><strong>Written by: {{this.name}}</strong></li>
      <a href="article/{{this.blogid}}" class="read_more_button">Read More</a>
    </div>
  {{/each}}
</ul>



<h1 class='white createBlog'> Create a blog post</h1>
<section class='createBlog'>
  <form class='add-item' action='/' method='post'>
    <div>
      <label for='item-name'>user name </label>
      <input type='text' name='name' class="inputBox" placeholder="user name" value=''></input>
    </div>
    <div>
      <label for='item-title'> title </label>
      <input type='text' name='title' class="inputBox" placeholder="title" value=''></input>
    </div>
    <div>
      <label for='item-content'>blog post </label>
      <textarea name='content' placeholder='blog post' class="inputBox postInputBox" rows='10' cols= '90'></textarea>
    </div>
    <div>
      <input type='submit'>
    </div>
  </form>
</section>
